html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #ddd;
}
h2 {
  text-align: center;
  display: none;
}
form {
  margin: 10px auto;
  width: 50%;
  display: flex;
}
input {
  background: #eee;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  flex-grow: 1;
}

button {
  display: none;
}

input:focus-visible {
  outline: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  margin: 1em;
}

.photo-card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;

}

.photo-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.photo-card:hover .stats {
  opacity: 1;
}

.photo-card img {
  width: 100%;
  height: 100%;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  background: #eae;
  opacity: 0;
  transition: opacity 300ms ease;
  background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.stats i {
  font-size: 18px;
  margin-right: 3px;
}

.stats i:hover {
  color: steelblue;
  cursor: pointer;
}

.stats p {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ddd;
}

.stats p:not(.stats p:last-child) {
  margin-right: 10px;
}

.load_more {
  color: #000;
  margin: 1em auto;
  display: none;
  width: fit-content;
  padding: .5em 2em;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 20px;
  background: rgba(0,0,0,0.1);
}

.load_more:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}



/*LightBox*/
.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}

.basicLightbox:after {
  content: "";
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 2em;
  height: 2em;
  background: url(https://basiclightbox.electerious.com/assets/images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}
